<!DOCTYPE html>
<html lang="de" ng-app="mainApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Das neueste kompilierte und minimierte CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- CSS einbinden -->
    <link rel="stylesheet" href="../css/site.css">
    <!-- jQuerry einbinden -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Angular lesen -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <!-- Bootstrap - Das neueste kompilierte und minimierte JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!--FONTAWESOME - ICONS-->
    <link rel="stylesheet" href="../css/css/font-awesome.css">
    <!--einbindung js-->
    <script src="./../js/app.js"></script>
    <!--Check UserLoggin -->
    <script>
        isUserLoggedIn("main");
    </script>

    <title>FoodPorn</title>

</head>

<body ng-controller="buildPersonalEntrys">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Titel und Schalter werden für eine bessere mobile Ansicht zusammengefasst -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Navigation ein-/ausblenden</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo">
                    <a href="main.html">
                        <h3 class="panel-title"><span>Food</span><span>Porn</span></h3>
                    </a>
                </div>
            </div>

            <!-- Alle Navigationslinks, Formulare und anderer Inhalt werden hier zusammengefasst und können dann ein- und ausgeblendet werden -->
            <form class="navbar-form navbar-left search-form" role="search" ng-submit="submit()">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Suchen" ng-model="navSearch" id="navSearch">
                </div>
                <button type="submit" id="searchFormSenden" class="btn btn-default">Los</button>
            </form>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kategorie <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ng-click="getElementCategory('Fleisch');">Fleisch</a></li>
                            <li><a ng-click="getElementCategory('Fisch');">Fisch</a></li>
                            <li><a ng-click="getElementCategory('Vegetarisch');">Vegetarisch</a></li>
                            <li><a ng-click="getElementCategory('Snacks');">Snacks</a></li>
                            <li><a ng-click="getElementCategory('Desserts');">Desserts</a></li>
                            <li><a ng-click="getElementCategory('Smoothies');">Smoothies</a></li>
                            <li><a ng-click="getElementFavorite();">Meine Favoriten</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Benutzer <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="./profil.html">Benutzer</a></li>
                            <li ng-controller="LogoutController">
                                <a ng-click="userLogOut()">Abmelden</a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <div class="profil-container">
        <center> <img ng-src="{{userData.image}}" alt="..." class="img-thumbnail">
            <h1>
                <p class="profile-title">{{userData.username}}</p>
            </h1>
            <p class="profile-description">{{userData.description}}</p>
        </center>
        <div class="container-fluid">
            <div class="row">
                <div>
                    <div ng-repeat="entry in entrys" class="item" id="entry_{{entry.id_foodporn}}">
                        <div class="foodporn-container">
                            <a data-toggle="modal" data-target="#myModal">
                                <img ng-src="{{entry.image}}">
                            </a>
                            <p class="foodporn-title">{{entry.title}}</p>
                            <p class="foodporn-description">{{entry.description}}</p>
                            <div class="foodporn-container-footer" ng-controller="setLikeFavorite">
                                <a class="foodporn-like-button green" ng-click="setLike();">
                                    <i class="fa fa-thumbs-up"></i>
                                    <span>{{entry.likes}}</span>
                                </a>
                                <a class="foodporn-like-button red" ng-click="setDisike();">
                                    <i class="fa fa-thumbs-down"></i>
                                    <span>{{entry.dislikes}}</span>
                                </a>
                                <a class="foodporn-eye-button {{entry.favorit}}" ng-click="setFavorite()">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a class="foodporn-byuser">by {{entry.user.username}}</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- Button, der das Modal aufruft -->
    <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#meinModal">
        <span><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></span>      
    </button>

    <!-- Modal -->
    <div id="modalNewEntry">
        <div class="modal fade" id="meinModal" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="meinModalLabel">Benutzer Bearbeiten</h4>
                    </div>
                    <div class="modal-body">

                        <form id="formNewentryAdd" ng-submit="updateUdssr">
                            <div class="form-group">
                                <label for="beschreibung_neuesBild">Beschreibung</label>
                                <textarea rows="4" class="form-control" required id="beschreibung_neuesBild" placeholder="Beschreibung">{{userData.description}}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="beschreibung_neuesBild">Altes Passwort</label>
                                <input ng-model="userX.oldPW" type="text" class="form-control" id="titel_neuesBild" placeholder="Altes Passwort">
                            </div>
                            <div class="form-group">
                                <label for="beschreibung_neuesBild">Neues Passwort</label>
                                <input ng-model="userX.newPW" type="text" class="form-control" id="titel_neuesBild" placeholder="Neues Passwort">
                            </div>
                            <div class="form-group">
                                <label for="beispielFeldDatei">Anhang</label>
                                <input type="text" class="form-control" required id="datei_neuesBild" value="{{userData.image}}">
                            </div>
                            <input type="submit" class="btn btn-success" id="form_senden" name="speichern " value="speichern ">
                        </form>

                        <div class="modal-footer ">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>